.age-container{

  h2{
    font-weight: normal;
    text-align: center;
  }
  .select-wrap{
    padding: 15px 0;
    color: #b4b4cb;
    border-bottom: 1px solid #b4b4cb;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img-wrap{
    text-align: center;
    padding-top: 20px;
    img{
      max-width: 60%;
    }
  }
}
