.reciever-info-container{
  background-color: #fff;
  .receiver-item{
    border-bottom: 1px solid #d0d1df;
    padding: 15px 0 15px 15px;
    font-size: 14px;
    input{
      border: none;
      box-sizing: border-box;
      width: 90%;
      height: 30px;
      line-height: 30px;

    }
    textarea{
      border: none;
      width: 90%;
      line-height: 20px;
      height: 60px;
      padding: 5px;
    }
  }
}
