@import "~variables.less";


@gap-width: .35rem;
@border-radius: .15rem;


.im-container{
  background-color: @background-color;
  min-height: 100vh;
  .msg-container{
    padding-bottom: .3rem;
    float: right;
  }
  .btn-contacts{
    position: fixed;
    top: .5rem;
    right: .3rem;
    font-size: .6rem;
    color: @light-slate-blue;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.15);
  }
}
