@import "~variables.less";
.order-created-container{
  background-color: @background-color;
  .goods-wrap{
    padding-top: .3rem;
  }
  .input-group-wrap{
    padding-bottom: .3rem;
  }
  .input-group{
    border-bottom: 1px solid @border-color-light;
    dt{
      padding: .6rem 0 .2rem .3rem;
      font-weight: 600;
    }
    .dd-wrap{
      position: relative;
      display: flex;
      border-top: 1px solid #dedfe9;
      background-color: #fff;
      padding: .26rem .3rem;
      justify-content: space-between;
      align-items: center;
    }
    .iconfont{
      font-size: .4rem;
    }
    .icon-gt{
      margin-right: -.1rem;
    }
  }
  .receiver-info-wrap{
    line-height: .5rem;
  }
  .info-wrap{
  }
  .font-gray{
    color: @font-color-lighter;
    &.on{
      color: @font-color-light;
      .icon-zhifubao{
        color: #11abe5;
      }
      .icon-weixin{
        color: #5fb63d;
      }
    }
  }
  .pay-way-wrap{
    .info-wrap{
      display: flex;
      align-items: center;
    }
    .icon-zfb{
      font-size: .5rem;
    }
    .icon-wx{
      margin-right: .1rem;
    }
  }
  .discount-wrap{
    em{
      font-style: normal;
    }
    span{
      color: @purple;
    }
  }
}
