@import "~variables.less";
.order-created-group{
  padding: 15px 0 0 0;
 .box-list{
    padding: 15px 0 0 0;
    position: relative;
  }
  .sep-line{
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    border-top: 1px solid #f2f3f8;
  }
}
