@import "~variables.less";
.contacts-container{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	height: 100vh;
	background-color: @background-color;
	display: flex;
	flex-direction: column;
	transition-property: all;
	transition-timing-function:cubic-bezier(.42, 0, .58, 1);
	transition-duration: 0.3s;
	.contact-header{
		flex: 0 0 .8rem;
	}
	.contacts-list{
		flex: auto;
		overflow: hidden;
		position: relative;
		.contacts-scroller{
			position: absolute;
			width: 100%;
			height: 100%;
			> div{

			}
		}
	}
	h2{
		font-size: .4rem;
		line-height: .8rem;
		text-align: center;
		color: @font-color-light;
		font-weight: normal;
	}
	.icon-close{
		position: absolute;
		right: .2rem;
		top: .15rem;
		font-size: .4rem;
	}
	.contacts-list{
		background-color: #fff;
	}
}
