

.uw-search-panel{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  .overlayer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .iconfont{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .panel-Wrap{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 50px 0;
  }

  .tags-wrap{
    display: flex;
    justify-content:space-around;
    font-size: 18px;
    margin-bottom: 30px;
    li{
      &.on{
        color: @purple;
      }
    }
  }

  .bra-size{
    .circles{
      display: flex;
      flex-wrap: nowrap;
      justify-content:space-between;
      margin: 0 20px 30px;
      .circle{
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-family: arial;
        border-radius: 50%;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.15);
        &.on{
          color: @purple;
        }
      }
    }
  }

  .tags{
    ul{
      margin: 0 20px 30px;
    }
    li{
      padding: 8px 10px;
      border: 1px solid @border-color;
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
      &.on{
        color: @purple;
        border: 1px solid #fff4f4;
      }
    }
  }

  .btn-wrap{
    text-align: center;
  }
  .btn-sure{
    display: inline-block;
  }
}
