.customer-servie-container{
  padding-top: 20px;
  .icon-arrow-left{
    font-size: 30px;
    margin-left: 15px;
  }
  h2{
    font-weight: normal;
    text-align: center;
  }
  .img-wrap{
    margin-top: 30px;
    text-align: center;
    img{
      max-width: 100%;
    }

  }
  .public-number-wrap{
    color: #797e99;
    margin: 0 50px;
    li{
      border-bottom: 1px solid #b4b4cb;
      line-height: 50px;
    }
  }
  .connect-way-wrap{
    margin-top: 100px;
    color: #b4b4cb;
    text-align: center;
    li{
      line-height: 50px;
    }
  }
  .logo-wrap{
    text-align: center;
    padding: 0 0 30px 0;
    img{
      width: 100px;
    }
  }
}
