.uw-detail-container{
  .info-wrap{
    width: 90%;
    margin: 0 auto;
    .pro-name{
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      padding-top: 20px;
      font-size: 20px;
    }
    .pro-price{
      text-align: center;
      font-family: arial;
      color: @purple;
      border-bottom: 1px solid @border-color;
      padding: 15px 0;
      font-size: 20px;
    }
    .detail-item-list{

    }
    .detail-item-wrap{
      padding-top: 20px;
      .item-title{
        position: relative;
        font-size: 20px;
        font-weight: normal;
        color: #b4b4cb;
        padding-left: 15px;
        padding-bottom: 20px;
      }

      .detail-content{
        line-height: 28px;
        text-indent: 2em;
      }
      .goods-details{
        line-height: 30px;

        .goods-detail-img-wrap{
          margin: 30px 0;
          img{
            display: block;
            max-width: 100%;
          }
        }
        .goods-detail-text-wrap{
        }
      }
      .box-service-info{
        text-align: center;

        >*{
          font-weight: normal;
        }
        h5{
          font-size: 24px;
        }
        h6{
          font-size: 20px;
          padding: 15px 0 30px;
        }
      }

      .img-wrap{
        padding: 30px 0 0 0;
        img{
          display: block;
          max-width: 100%;
        }
      }
      .recommend-wrap{
        .detail-content:last-child{
          .pro-price{
            border: none;
          }
        }

      }

    }
  }
}
