@import "~variables.less";
.receivers-item{
  display: flex;
  line-height: .5rem;
  border: 1px solid @border-color;
  border-width: 1px 0;
  padding: 10px 0;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
  > .column:nth-child(1) div{
    padding: .08rem 0;
  }

  > :nth-child(1){
    flex: 1 1 90%;
    padding-left: 15px;
  }
  > :nth-child(2){
    flex: 1 1 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 15px;
    >*{
      flex-basis:100%;
      text-align:center;
      margin-top: .2rem;
    }
    .btn-edit{

    }
    .btn-delete{
      font-size: .4rem;
    }

  }

}
.add-receiver-wrap{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  a{
    display: inline-block;
    background-color: @light-slate-blue;
    color: #fff;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
  }

}
