.home-container{
  .bg-wrap{
    background: linear-gradient(to bottom, @blue, @background-color);
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 600px;

  }
  .list-wrap{
    position: relative;
    padding: 0 15px;
  }
  .expext-wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .pro-list{

  }

  .test{
    position: absolute;
    z-index: 10;
    background-color: @purple;
    color: #fff;
    line-height: 50px;
    padding:  0 20px;
    border-radius: 8px;
  }

}
