.share-social-container{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #9ba4d1;
  .blur-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
  }
  .share-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;

    border-radius: 5px;
    width: 80%;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
  }
  h6{
    color: #9ba4d1;
    font-weight: normal;
    font-size: 16px;
    text-indent: 15px;
    line-height: 60px;
  }
  .media-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 30px;
    li{
      span{
        display: block;
        text-align: center;
        width: 100%;
      }
    }
    .img-wrap{
      img{
        width: 50px;
      }

    }
    .share-name{

    }
  }
  .cancel-shrare{
    text-align: center;
    font-weight: normal;
    line-height: 100px;

  }
}
