.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}
.bg-blur{
  background-color: rgba(255, 255, 255, 0.8);

}
.btn-sure{
  background-color: @purple;
  padding: 8px 20px;
  border-radius: 15px;
  color: #fff;
}

.triangle{
  position: absolute;
  left: 0;
  top: 0;
  border: 5px solid #fff;
  border-left: 5px solid @purple;
  transform: translate(-3px, -2px) rotate(225deg) ;
}

.arial{
  font-family: arial;
}
.pl5{
  padding-left: 5px;
}

.box-service-item{
  border: 1px solid @border-color;
  padding: 8px 20px;
  font-family: arial;
  &.on{
    color: @purple;
    border: 1px solid @purple;
  }
}
