.group-wrap.cart-edit-model{

    .column{
      &:nth-child(3){
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        .ajust-wrap{
          display: flex;
          justify-content: flex-end;
          .box-service-item{
            margin-right: 20px;
          }
        }
      }
    }
    .btn-delete{
      font-size: 20px;
    }
}
