.home-container{
  .list-item{
    position: relative;
    margin-top: 0.30rem;
    border-radius: 8px;
    overflow: hidden;

    background-color: #fff;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  }
  .img-wrap{
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    img{
      width: 100%;
    }
  }
  .pro-name{
    display: block;
    position: relative;
    padding: 0.20rem 0.28rem;
    background-color: #fafbfd;
    border-radius: 0 0 8px 10px;
    display: flex;
    p{
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
