.order-detail-container{
  .status-container{
    background: #eee9f4;
    text-align: center;
    padding-bottom: 30px;
  }
  .status-wrap{
    font-size: 20px;
    color: #fff;
    padding-top: 30px;
    span{
      color: @purple;
    }
  }
  .order-id-wrap{
    color: #d4d4d4;
    padding-top: 20px;
  }
  .order-tips{
    color: #d4d4d4;
    padding-top: 20px;
  }
  .arial{
    color: @purple;
  }
  .input-group{
    margin-top: 20px;
    dt{
      text-indent: 15px;
      padding-bottom: 15px;
    }
    dd{
      background-color: #fff;
      border-top: 1px solid #dedfe9;
      border-bottom: 1px solid #dedfe9;
    }
    .dd-warp{
      position: relative;
      display: flex;
      box-sizing: border-box;
      border-top: 1px solid #dedfe9;
      padding: 10px 15px 10px 0;
      margin-left: 15px;
      justify-content: space-between;
      align-items: center;
      &:first-child{
        border-top: none;
      }
    }
  }
  .receiver-info{
    .info-wrap{
      padding: 5px 0;
    }
  }
  .discount-name{
    font-size: 10px;
    color: #b4b4cb;
  }

  .flow-wrap,
  .justify-wrap{
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #c2bfdf;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .flow-wrap{
    margin-top: 20px;
  }
  .justify-wrap{
    position: fixed;
    left: 0;
    bottom: 0;
    a{
      color: #fff;  
    }

  }
}
